form {
    text-align: center;
}

p: {
    margin: 10px 0;
}

body {
    background: rgb(4, 15, 0);
    font-family: monospace;
    font-size: 16px;
    color:aliceblue
}

h1 {
    text-align: center;
    color:aliceblue
    font-size: 24px;
}

button {
    background-color: #ff8800; /* Laranja */
    color: white;
    padding: 10px 20px;
    cursor: pointer
    font-size: 18px;
    font-family: monospace;
}

select {
    font-family: monospace;
}

a {
    color:#00ff2a
}

::placeholder {
    font-family:monospace
}

